html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  display: flex;
  flex-direction: row;
  align-items: center;
}
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  padding: 50px;
  color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
}
.blue {
  background: rgb(81, 93, 97);
  background: linear-gradient(
    135deg,
    rgb(136, 188, 207) 20%,
    rgba(45, 56, 138, 1) 100%
  );
}
p {
  flex-grow: 1;
}

.cta {
  align-self: center;
  width: 240px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid #fff;
  line-height: 50px;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  margin-top: 10px;
  position: relative;
  box-sizing: border-box;
}

.cta:hover {
  background: peachpuff;
}
.cta:hover::after {
  content: '>';
  font-family: 'Jua';
  position: absolute;
  right: 15px;
  transition: right 1s ease;
}

a,
a:hover {
  transition: all 0.03s ease;
}
